<table>
  <tr>
    <th class="title"
        colspan="2">TODO LIST</th>
  </tr>
  <tr>
    <td>Item 1</td>
    <td class="remove-item">
      <button type="button"
              class="btn-remove">
        X
      </button>
    </td>
  </tr>
  <tr>
    <td>Item 2</td>
    <td class="remove-item">
      <button type="button"
              class="btn-remove">
        X
      </button>
    </td>
  </tr>
  <tr>
    <td>Item 3</td>
    <td class="remove-item">
      <button type="button"
              class="btn-remove">
        X
      </button>
    </td>
  </tr>
</table>